#articles {
    margin: 0 0 60px;
    position: relative;
}

#articles::after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /* фон має бути вставлений з адмінки */
    background-position: center top!important;
    background-size: 100% 100%!important;
}

#articles > h1{
    text-align: center;
    color: var(--black);
    position: relative;
    z-index: 1;
    line-height: 1.3;
    font-size: 28px;
    margin: 20px 0 40px;
}

#articles .wrap,
#output{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

@media(max-width: 776px) {
    #articles .wrap,
    #output{
        grid-template-columns: 1fr;
    }
}

.post {
    margin: 0 0 20px;
    padding: 0 5px;
}

.post figure {
    margin: 0 0 20px;
}

.post figure a {
    overflow: hidden;
    display : block;
}

.post img {
    width: 100% !important;
    height: auto !important;
    vertical-align: middle;
    -webkit-transition: transform 0.5s;
    transition: transform 0.5s;
}

.post:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.post time {
    margin: 0 0 10px;
    display: block;
    font-size: 14px;
    color: var(--purpur);
}

.post time::before {
    content: '';
    height: 20px;
    width: 20px;
    display: inline-block;
    margin: 0 8px 0 0;
    position: relative;
    top: 2px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23ae5cfe' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Crect x='3' y='4' width='18' height='18' rx='2' ry='2'%3E%3C/rect%3E%3Cline x1='16' y1='2' x2='16' y2='6'%3E%3C/line%3E%3Cline x1='8' y1='2' x2='8' y2='6'%3E%3C/line%3E%3Cline x1='3' y1='10' x2='21' y2='10'%3E%3C/line%3E%3C/svg%3E");
}

.post h3 {
    margin: 10px 0;
}

.post h3 a {
    color: var(--dark);
    font-size: 24px;
    text-decoration: none;
    display: block;
    line-height: 1.3;
    transition: color 0.5s;
}

.post h3 a:hover {
    color: var(--cyan);
}

.post p {
    opacity: 0.8;
    padding: 0 0 10px;
    line-height: 1.5;
}

.post .btn {
    padding: 5px 20px;
    background: var(--cyan);
    color: var(--light);
    border-radius: 10px;
    text-decoration: none;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.post .btn:hover {
    background: var(--cyan-dark);
}

/* кнопка підвантаження новин */
button#get{
    display: block;
    width: 370px;
    margin: 5px auto;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: inherit;
    font-family: inherit;
    padding: 6px 10px;
    background: var(--cyan);
    color: var(--white-light);
    text-align: center;
    transition: .5s;
}

@media(max-width: 400px) {
    button#get{
        width: 95%;
    }
}

button#get:hover{
    background: var(--cyan-dark);
}