#header{
    height: 128px;
    border-bottom: 5px solid rgba(0, 0, 0, 0.05);
}

#header .wrap{
    height: 128px;
    display: grid;
    grid-template-columns: 240px auto;
    align-items: center;
    
}
/* 
#logo{
    width: 20%;
} */

#nav{
    /* width: 80%; */
    display: flex;
    align-items: center;
}

#nav ul{
    display: block;
    padding: 0 30px;
}

#nav li{
    display: inline-block;
    margin: 0 6px;
}

#nav li a{
    color: var(--gray);
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s;
    font-weight: 600;
}

#nav li a:hover{
    color: var(--first);
}

/* іконки */
#nav-panel{
    margin: 0 0 0 auto;
}

#nav-panel a{
    color: var(--dark);
    text-decoration: none;
    transition: .5s;
    display: inline-flex;
    align-items: center;
    margin-left: 2px;
}

#nav-panel a:hover{
    color: var(--first)
}

#nav-panel svg{
    width: 18px;
    height: 18px;
    fill: none;
    stroke: var(--dark);
    stroke-width: 2; 
    stroke-linecap: round;
    stroke-linejoin: round;
}

#nav-panel a:hover svg{
    stroke: var(--second);
}

/**/
#menu-button{
    display: none;
}

@media(max-width:996px) {
    #menu-button{
        display: block;
        margin: 0 0 0 auto;
    }

    #nav{
        display: none;
    }
}

#menu-button svg{
    width: 24px;
    height: 24px;
    fill: none;
    stroke: var(--dark);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}