
input[type="text"],
input[type="password"]{
    display: block;
    padding: 10px;
    width: 100%;
    margin: 5px 0 0;

    background: var(--gray-lightly);
    border: 1px solid var(--gray);
    border-radius: 3px;
    outline: none;
}

input[type="text"]:focus,
input[type="password"]:focus{
    border-color: var(--cyan)
}

input[type="submit"]{
    display: inline-block;
    /* padding: 5px; */
    width: 100%;
    margin: 5px 0;
    cursor: pointer;
    /* background: var(--gray-light); */
    border: 1px solid var(--gray);
    border-radius: 5px;
    transition: .5s;
    font-size: inherit;
    font-family: inherit;



    /* display: inline-block; */
    padding: 5px 10px;
    /* width: 100%; */
    background: var(--cyan);
    /* border: 1px solid var(--gray); */
    color: var(--white-light);
    /* border-radius: 5px; */
    text-align: center;
    /* text-decoration: none; */
    transition: .5s;
}

input[type="submit"]:hover{
    /* background: var(--gray); */
    background: var(--cyan-dark);
}

label{
    cursor: pointer;
    font-weight: 600;
}


/* //////////////
copy from cabinet
////////////// */
.checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 0 0 20px;
}

.checkbox + label {
	position: relative;
	padding: 0 0 0 60px;
	cursor: pointer;
}

.checkbox + label:before {
	content: '';
	position: absolute;
	top: -4px;
	left: 0;
	width: 50px;
	height: 26px;
	border-radius: 13px;
	background: var(--gray-light);
	box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
	transition: .2s;
}

.checkbox + label:after {
	content: '';
	position: absolute;
	top: -2px;
	left: 2px;
	width: 22px;
	height: 22px;
	border-radius: 10px;
	background: var(--white-light);
	box-shadow: 0 2px 5px rgba(0,0,0,.3);
	transition: .2s;
}

.checkbox:checked + label:before {
	/* background: var(--blue); */
	background: var(--cyan);
}

.checkbox:checked + label:after {
	left: 26px;
}

.checkbox:focus + label:before {
	box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}

.radio {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 0 0 7px;
}

.radio + label {
	position: relative;
	padding: 0 0 0 35px;
	cursor: pointer;
}

.radio + label:before {
	content: '';
	position: absolute;
	top: -3px;
	left: 0;
	width: 22px;
	height: 22px;
	border: 1px solid var(--gray-light);
	border-radius: 50%;
	/* background: var(--white); */
	background: var(--white-light);
}

.radio + label:after {
	content: '';
	position: absolute;
	top: 1px;
	left: 4px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	/* background: var(--blue); */
	background: var(--cyan);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
	opacity: 0;
	transition: .2s;
}

.radio:checked + label:after {
	opacity: 1;
}

/* .radio:focus + label:before {
	box-shadow: 0 0 0 3px var(--yellow);
} */
/* //////////////
copy from cabinet
////////////// */









/**/