
input[type="text"],
input[type="password"]{
    display: block;
    padding: 10px;
    width: 100%;
    margin: 5px 0 0;

    background: var(--gray-lightly);
    border: 1px solid var(--gray);
    border-radius: 3px;
    outline: none;
}

input[type="text"]:focus,
input[type="password"]:focus{
    border-color: var(--cyan)
}

input[type="submit"]{
    display: inline-block;
    padding: 5px;
    width: 100%;
    margin: 5px 0;
    cursor: pointer;
    background: var(--gray-light);
    border: 1px solid var(--gray);
    border-radius: 5px;
    transition: .5s;
    font-size: inherit;
    font-family: inherit;
}

input[type="submit"]:hover{
    background: var(--gray);
}

label{
    cursor: pointer;
    font-weight: 600;
}