
#levus-swipe-slider{
    position: relative;
    overflow: hidden;
}

#slides{
    min-height: 540px;
    display: grid;
    grid-template-columns: repeat(20,100%);
    position: relative;
}

#slides .slide{
    height: 100%;
    cursor: grab;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    user-select: none;
}

/* nav */
#slide-left,
#slide-right{
    position: absolute;
    top: calc(50% - 20px); 
    cursor: pointer;
    width: 40px;
    height: 40px;
    /* todo: add z-index */
    opacity: .5;
    transition: .5s;
}

#slide-left{
    left: 20px;
    background: var(--white-light);
    border-radius: 5px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2342A5F5' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z'/%3E%3C/svg%3E");
}

#slide-right{
    right: 20px;
    background: var(--white-light);
    border-radius: 5px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2342A5F5' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z'/%3E%3C/svg%3E");
}

#slide-left:hover,
#slide-right:hover{
    opacity: 1;
}

/* move left */
.to-left {
    transform: translateX(100%);
}

/* move right */
.to-right {
    transform: translateX(-100%);
}