/* окрема сторінка */
#page{
    padding: 20px 0 60px;
    position: relative;
}

#page::after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /* фон має бути вставлений з адмінки */
    background-position: center top!important;
    background-size: 100% 100%!important;
}

#page h1 {
    margin: 20px 0 40px;
    text-align: center;
    color: var(--black);
    position: relative;
    z-index: 1;
    line-height: 1.3;
    font-size: 28px;
}

#page .wrap{
    flex-flow: column;
    background: var(--white-light);
    position: relative;
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}

@media(max-width:776px) {
    #page .wrap{
        padding: 30px;
    }
}

#page time{
    display: block;
    margin: 0 0 30px;
    font-weight: 500;
    color: var(--purpur);
}

#page time::before{
    content: '';
    height: 20px;
    width: 20px;
    display: inline-block;
    margin: 0 8px 0 0;
    position: relative;
    top: 2px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23ae5cfe' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Crect x='3' y='4' width='18' height='18' rx='2' ry='2'%3E%3C/rect%3E%3Cline x1='16' y1='2' x2='16' y2='6'%3E%3C/line%3E%3Cline x1='8' y1='2' x2='8' y2='6'%3E%3C/line%3E%3Cline x1='3' y1='10' x2='21' y2='10'%3E%3C/line%3E%3C/svg%3E");
}

#page p{
    line-height: 1.5;
    margin: 0 0 30px;
}

#page img{
    margin: 0 0 30px;
    border-radius: 5px;
}

/* шаринг */
.share-facebook svg,
.share-twitter svg,
.share-linkedin svg,
.share-telegram svg,
.share-viber svg{
    transition: .5s;
    transform: translateY(0);
}

.share-facebook:hover svg,
.share-twitter:hover svg,
.share-linkedin:hover svg,
.share-telegram:hover svg,
.share-viber:hover svg{
    transform: translateY(-5px);
}