/* for action and articles */
.pagination {
    text-align: center;
    display: block;
    margin: 0 0 20px;
}

.pagination li {
    display: inline-flex;
}

.pagination li a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    border-radius: 100%;
    height: 32px;
    width: 32px;

    background: var(--cyan);
    color: var(--white-light);

    text-decoration: none;
    transform: translateY(0);
    transition: 0.5s;
}

.pagination li a span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.pagination li a:hover {
    transform: translateY(-5px);
}

/* current page */
.pagination li.MarkupPagerNavOn a{
    background: var(--purpur);
    color: var(--white-light);
}

.pagination svg{
    width: 24px;
    height: 24px;
}

/* first and last */
li.MarkupPagerNavFirst,
li.MarkupPagerNavLast{
    position: relative;
    top: 7px;
}