/* послуги */
#services{
    padding: 60px 0;
    background: var(--cyan-light)
    /* font-family: 'Roboto', sans-serif; */
}

#services .wrap{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}

@media(max-width:996px){
    #services .wrap{
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width:650px){
    #services .wrap{
        grid-template-columns: 1fr;
    }
}

#services article{
    background: var(--white-light);
    position: relative;
    padding: 10px;
    box-shadow: 
        0 3px 1px -2px rgb(159 193 212 / 30%), 
        0 2px 2px 0 rgb(159 193 212 / 24%), 
        0 1px 5px 0 rgb(159 193 212 / 22%);
    display: flex;
    flex-flow: column;
}

#services article h3{
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    padding: 0 0 20px 80px;
    margin: 0;
    text-decoration: none;
}

#services article h3 a{
    text-decoration: none;
    color: var(--cyan-dark)
}

#services article p{
    padding: 0 0 20px 80px;
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
}

#services article img{
    width: 50px;
    position: absolute;
    bottom: 8px;
    left: 20px;
}

#services article span{
    font-size: 13px;
    color: var(--green-dark);
    display: block;
    padding: 0 0 0 80px;
    margin: auto 0 0;
}