/* послуги */
#services{
    padding: 20px 0 60px;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
    position: relative;
}

#services::after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url(../temp/bg2.jpg);
    background-position: center top;
    background-size: 100% 100%;
}

/* заголовок */
#services h1{
    margin: 20px 0 40px;
    text-align: center;
    color: var(--black);
    font-size: 28px;
}

#services .wrap{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    margin-top: 40px;
}

@media(max-width:996px){
    #services .wrap{
        grid-template-columns: repeat(2,1fr);
        background-attachment: fixed;
    }
}

@media(max-width:650px){
    #services .wrap{
        grid-template-columns: 1fr;
    }
}

#services article{
    background: var(--white-light);
    position: relative;
    padding: 30px;
    box-shadow: 
        0 3px 1px -2px rgb(159 193 212 / 30%), 
        0 2px 2px 0 rgb(159 193 212 / 24%), 
        0 1px 5px 0 rgb(159 193 212 / 22%);
    display: flex;
    flex-flow: column;
    border-radius: 5px;
    border: 1px solid var(--gray);
}

#services article h3{
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

#services article img{
    width: 22px;
    margin: 0 10px 0 0;
}

#services article h3 a{
    text-decoration: none;
    color: var(--black);
    font-size: 16px;
    font-weight: normal;
}

#services article .desription{
    margin: 0 0 20px;
}

#services article p{
    font-size: 14px;
    line-height: 1.5;
}

#services .misc{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    font-weight: 600;
}

#services .misc a{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    transition: .5s;
    color: var(--cyan)
}

#services .misc a:hover{
    color: var(--cyan-dark)
}